* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #f5f5f5;
    color: #252525;
    text-rendering: optimizeLegibility;
    font-size: 20px;
}

*::selection {
    background: #A80534;
    color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    background-color: #f5f5f5;
}

.logo {
    cursor: pointer;
}

.nav-links a,
.cta {
    font-weight: 500;
    color: #252525;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0px 25px;
    text-transform: uppercase;
}

.nav-links li a {
    transition: color 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #A80534;
}

.cta {
    padding: 8px 20px;
    margin-bottom: 30px;
    background-color: #A80534;
    border-radius: 25px;
    color: #f5f5f5;
    cursor: pointer;
    transition: 0.3s ease 0s;
}

.cta:hover {
    background-color: #800427;
}

header {
    height: 155px;
}

.banner {
    opacity: 0.8;
    position: relative;
    width: 100%;
}

.about-mnba {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 90px;
    color: #252525;
    flex-wrap: wrap;
}

.about-mnba h2 {
    color: #A80534;
    margin-right: 70px;
    margin-top: 90px;
}

.btn-readmore {
    display: flex;
    justify-content: center;
}

.btn-readmore button {
    border: none;
    padding: 8px 20px;
    margin-bottom: 8px;
    margin-top: 15px;
    margin-left: 310px;
    background-color: #A80534;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease 0s;
}

.btn-readmore a {
    text-decoration: none;
    color: #f5f5f5;
}

.btn-readmore button:hover {
    background-color: #800427;
}

.collection-exp {
    margin-top: 90px;
    color: #f5f5f5;
    background-color: #A80534;
    flex-wrap: wrap;
}

.collection-exp h2 {
    text-align: center;
    padding: 40px;
}

.collection-exp h2::selection {
    background-color: #252525;
}


.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.cards img {
    border-radius: 5px;
}

.img-card1 {
    margin-right: 50px;
    position: relative;
}

.img-card2 {
    margin-top: 40px;
    margin-right: 50px;
    position: relative;
}

.img-card3 {
    margin-top: 70px;
    /* margin-left: 35px; */
    position: relative;
}

.img-card4 {
    margin-right: 65px;
    position: relative;
    margin-top: 75px;
}

.img-card5 {
    margin-top: 95px;
    position: relative;
}

.img-card1 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease-in;
    background-color: #ececec;
    border-radius: 5px;
    cursor: pointer;
}

.img-card2 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 94%;
    width: 100%;
    opacity: 0;
    transition: .4s ease-in;
    background-color: #ececec;
    border-radius: 5px;
    cursor: pointer;
}

.img-card3 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90%;
    width: 100%;
    opacity: 0;
    transition: .4s ease-in;
    background-color: #ececec;
    border-radius: 5px;
    cursor: pointer;
}

.img-card4 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease-in;
    background-color: #ececec;
    border-radius: 5px;
    cursor: pointer;
}

.img-card5 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 93%;
    width: 100%;
    opacity: 0;
    transition: .4s ease-in;
    background-color: #ececec;
    border-radius: 5px;
    cursor: pointer;
}

.img-card1:hover .overlay {
    opacity: 0.9;
}

.img-card2:hover .overlay {
    opacity: 0.9;
}

.img-card3:hover .overlay {
    opacity: 0.9;
}

.img-card4:hover .overlay {
    opacity: 0.9;
}

.img-card5:hover .overlay {
    opacity: 0.9;
}

.text {
    color: #070707;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-seemore {
    display: flex;
    justify-content: center;
}

.btn-seemore button {
    border: none;
    padding: 10px 35px;
    margin-top: 80px;
    background-color: #252525;
    color: #f5f5f5;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease 0s;
    margin-bottom: 65px;
    font-size: 22px;
}

.btn-seemore a {
    text-decoration: none;
    color: #f5f5f5;
}

.btn-seemore button:hover {
    background-color: #181818;
}

.title-artists {
    color: #252525;
    text-align: center;
    margin-top: 60px;
}

.artists-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


.local {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#visitus {
    background-color: #252525;
    padding-top: 1px;
    margin-top: 70px;
}

.title-visit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #f5f5f5;
    margin-top: 50px;
    margin-left: 25px;
    margin-top: 25px;
}

.hours h3 {
    margin-bottom: 25px;
}

.hours .p1 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #f5f5f5;
    text-transform: uppercase;
}

.hours .p2 {
    font-size: 17px;
    font-weight: 400;
    color: #f5f5f5;
    margin-top: -18px;

}

svg {
    margin-left: 6px;
    margin-right: 6px;
    color: #f5f5f5;
}

.info-hours1 {
    margin-top: -220px;
    margin-right: 450px;
}

.info-hours2 {
    margin-right: 582px;
}

.info-hours3 {
    margin-right: 707px;
    margin-bottom: 30px;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #252525;
    flex-wrap: wrap;

}

.infos .img-logo {
    margin-top: 100px;
    color: #252525;
}

.hours {
    display: flex;
    justify-content: center;
}

/* footer */

footer {
    width: 100%;
    color: #252525;
    background-color: #f5f5f5;
}

footer h6 {
    color: #A80534;
}

#footer-content {
    font-size: 17px;
}

#footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
}

#footer-social-media {
    display: flex;
}

#footer-social-media .footer-link:hover {
    opacity: 0.8;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 5px;
    margin-top: -50px;
    font-weight: 300;
    text-align: center;
}

.btn-visit button {
    display: flex;
    justify-content: center;
    border: none;
    padding: 8px 20px;
    margin-bottom: 20px;
    margin-top: -90px;
    margin-right: 100px;
    background-color: #A80534;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease 0s;
}

.btn-visit a {
    text-decoration: none;
    color: #f5f5f5;
}

.btn-visit button:hover {
    background-color: #800427;
}


.menu-toggle {
    display: none;
}

.menu-toggle input {
    display: none;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
}

.nav-links2 {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links2 li {
    margin-left: 10px;
}

.nav1 {
    margin-left: 10%;
}

@media screen and (max-width: 780px) {
    #footer-content {
        grid-template-columns: repeat(1, 2fr);
        padding: 3rem 2rem;
    }

    #footer-content img {
        display: none;
    }



    .hours .infos .img-logo {
        margin: 0;
        display: none;
    }

    .info-hours1 {
        margin-top: 25px;
        margin-right: 20px;
    }

    .info-hours2 {
        margin-right: 10px;
    }

    .info-hours3 {
        margin-right: 20px;
        margin-bottom: 115px;
    }

    .infos {
        display: block;
        align-items: center;
        background-color: #252525;
    }

    .btn-visit button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 35%;
        margin-bottom: 20px;
    }

    .nav1 {
        display: none;
    }

    .cta {
        display: none;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .nav-links2 {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f2f2f2;
        padding: 10px;
        text-align: center;
    }

    .menu-toggle input:checked~.nav-links2 {
        display: flex;
        flex-direction: column;
    }

    .menu-toggle input:checked~.nav-links2 li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .banner {
        display: none;
    }

    .about-mnba h2 {
        margin-top: 10px;
    }

    .about-mnba {
        text-align: start;
        margin-top: 10px;
    }

    .btn-readmore button {
        margin-left: 2px;
        margin-bottom: -30px;
    }

    .cards {
        display: flex;
        justify-content: column;
    }

    .cards img {
        margin: 0;

    }

    .img-card1 .overlay {
        display: none;
    }

    .img-card1 img {
        width: 415px;
        margin-left: 45px;
        margin-right: 0px;
    }


    .img-card2 .overlay {
        display: none;
    }

    .img-card2 img {
        width: 415px;
        margin-left: 45px;
        margin-right: 0px;
    }

    .img-card3 .overlay {
        display: none;
    }

    .img-card3 img {
        width: 320px;
        margin-top: -25px;
        margin-right: 0px;
    }

    .img-card4 .overlay {
        display: none;
    }

    .img-card4 img {
        width: 400px;
        margin-top: -30px;
        margin-left: 60px;
        margin-right: 0px;
    }

    .img-card5 .overlay {
        display: none;
    }

    .img-card5 img {
        width: 380px;
        margin-top: -40px;
        margin-bottom: -30px;
        margin-right: 0px;

    }
}


@media screen and (max-width: 840px) {
    .about-mnba h2 {
        margin-top: 10px;
    }

    .about-mnba {
        text-align: left;
        margin-top: 10px;
    }

    .btn-readmore button {
        margin-left: 2px;
        margin-bottom: -30px;
    }

    .cards {
        display: flex;
        justify-content: column;
    }

    .cards img {
        margin: 0;

    }

    .img-card1 .overlay {
        display: none;
    }

    .img-card1 img {
        width: 415px;
        margin-left: 45px;
        margin-right: 0px;
    }


    .img-card2 .overlay {
        display: none;
    }

    .img-card2 img {
        width: 415px;
        margin-left: 45px;
        margin-right: 0px;
    }

    .img-card3 .overlay {
        display: none;
    }

    .img-card3 img {
        width: 320px;
        margin-top: -25px;
        margin-right: 0px;
    }

    .img-card4 .overlay {
        display: none;
    }

    .img-card4 img {
        width: 450px;
        margin-top: -30px;
        margin-left: 60px;
        margin-right: 0px;
    }

    .img-card5 .overlay {
        display: none;
    }

    .img-card5 img {
        width: 420px;
        margin-top: -40px;
        margin-bottom: -30px;
        margin-right: 0px;

    }

    .hours .infos .img-logo {
        margin: 0;
        display: none;
    }

    .info-hours1 {
        margin-top: 25px;
        margin-right: 20px;
    }

    .info-hours2 {
        margin-right: 10px;
    }

    .info-hours3 {
        margin-right: 20px;
        margin-bottom: 115px;
    }

    .infos {
        display: block;
        align-items: center;
        background-color: #252525;
    }

    .btn-visit button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 35%;
        margin-bottom: 20px;
    }


    #footer-content {
        grid-template-columns: repeat(1, 2fr);
        padding: 3rem 2rem;
    }

    #footer-content img {
        display: none;
    }

    .nav1 {
        display: none;
    }

    .cta {
        display: none;
    }


    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .nav-links2 {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f2f2f2;
        padding: 10px;
        text-align: center;
    }

    .menu-toggle input:checked~.nav-links2 {
        display: flex;
        flex-direction: column;
    }

    .menu-toggle input:checked~.nav-links2 li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .banner {
        display: none;
    }

}